/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

html{
    scroll-behavior: smooth;
}

body{
    font-size: 16px;
    line-height: 19px;
    font-family: Rubik;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper{
    &-info{
        background: #F6F6F6;
    }
}

.title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.descr{
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    & > span{
        font-weight: 500;
    }
}




// =======================================================================================

// header


.header{
    padding-top: 47px;
    margin-bottom: 88px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        align-items: center;
        & li + li{
            margin-left: 40px;
        }
    }
    &__link{
        color: #4F5665;
        transition: all .2s linear;
        &:hover{
            color: #000;
        }
    }
    &__sign{
        display: flex;
        align-items: center;
        & div + div{
            margin-left: 30px;
        }
        &-link{
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            transition: all .2s linear;
        }
        &-in{
            color: #0B132A;
            &:hover{
                color: rgb(11, 134, 11);
            }
        }
        &-up{
            color: #F53855;
            padding: 11px 42px;
            border: 1px solid #F53855;
            border-radius: 50px;
            &:hover{
                padding: 9px 42px;
            }
        }
    }
}

// main


.main{
    margin-bottom: 155px;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__content{
        max-width: 555px;
        padding-top: 23px;
    }
    &__title{
        font-weight: 500;
        font-size: 50px;
        line-height: 70px;
        color: #0B132A;
        margin-bottom: 20px;
    }
    &__descr{
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
        margin-bottom: 68px;
    }
    &__btn{
        &-link{
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            color: #FFFFFF;
            padding: 17px 77px;
            background: #F53838;
            border-radius: 10px;
            transition: all .3s linear;
            &:hover{
                background-color: #FC7F6A;
            }
        }
    }
}


// features


.features{
    margin-bottom: 95px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        background-color: #fff;
        padding: 37px 90px;
        box-shadow: 0px 42px 60px 0px #0d102525;
        border-radius: 10px;
        min-height: 200px;
    }
    &__box{
        display: flex;
        align-items: center;
        &:last-child::after{
            display: none;
        }
        &::after{
            content: '';
            width: 2px;
            height: 125.57px;
            margin-left: 130px;
            background: #EEEFF2;
            display: block;
        }
    }
    &__info{
        margin-left: 36.5px;
        &-num{
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
            margin-bottom: 5px;
        }
        &-text{
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
        }
    }
}

// content


.content{
    margin-bottom: 131px;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
    }
    &__info{
        padding-top: 44px;
        max-width: 430px;
    }
    &__title{
        max-width: 383px;
    }
    &__descr{
        margin-bottom: 20px;
    }
    &__list{
        & > li{
            position: relative;
            font-size: 14px;
            line-height: 30px;
            color: #4F5665;
            padding-left: 32px;
            height: 20px;
            & + li{
                margin-top: 15px;
            }
            &::before{
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 2px;
                background-image: url(../img/content-list.svg);
                width: 23px;
                height: 23px;
            }
        }
    }
}


// pack


.pack{
    padding-top: 80px;
    margin-bottom: 150px;
    &__title{
        text-align: center;
    }
    &__descr{
        max-width: 555px;
        margin: 0 auto 60px;
        text-align: center;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
        padding-bottom: 100px;
    }
    &__box{
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 79px 92px 50px;
        height: 760px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .2s linear;
        &-title{
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #0B132A;
            margin-bottom: 30px;
        }
        &-features{
            & > li{
                font-size: 14px;
                line-height: 30px;
                color: #4F5665;
                padding-left: 36px;
                position: relative;
                & + li{
                    margin-top: 9px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    display: block;
                    background-image: url(../img/pack-sug.svg);
                    width: 24px;
                    height: 24px;
                    top: 2px;
                }
            }
        }
    }
    &__img{
        margin-bottom: 30px;
        text-align: center;
    }
    &__price{
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
        margin-bottom: 33px;
        & > span{
            font-weight: normal;
            color: #4F5665;
        }
    }
    &__btn{
        text-align: center;
        &-link{
            border: 2px solid #F53838;
            box-sizing: border-box;
            border-radius: 50px;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            color: #F53838;
            padding: 13px 63px;
            transition: all .3s linear;
            &:hover{
                background-color: #FA7E76;
                color: #fff;
            }
        }
    }
}

.pack__box.active{
    border: 2px solid #F53838;
}

.pack__box.active > .pack__box-end > .pack__btn > .pack__btn-link{
    background: #F53838;
    color: #fff;
}


// map


.map{
    overflow: hidden;
    margin-bottom: 80px;
    &__title{
        max-width: 383px;
        text-align: center;
        margin: 0 auto 20px;
    }
    &__descr{
        max-width: 555px;
        text-align: center;
        margin: 0 auto 150px;
    }
    &__inner{
        text-align: center;
    }
}

// coop

.coop{
    margin-bottom: 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
}


//  testimonials


.testimonials{
    max-width: 1500px;
    margin: 0 auto 180px;
    &__title{
        max-width: 447px;
        text-align: center;
        margin: 0 auto 20px;
    }
    &__descr{
        max-width: 555px;
        margin: 0 auto 60px;
        text-align: center;
    }
    &__box{
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;
        min-height: 230px;
    }
    &__info{
        padding: 30px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__person{
        display: flex;
        align-items: center;
        height: 50px;
        &-info{
            margin-left: 20px;
        }
        &-name{
            font-weight: 500;
            font-size: 18px;
            color: #0B132A;
            margin-bottom: 5px;
        }
        &-city{
            font-size: 14px;
            color: #4F5665;
        }
    }
    &__rate{
        display: flex;
        align-items: center;
        &-num{
            line-height: 30px;
            font-size: 16px;
            color: #0B132A;
            margin-right: 10px;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
        color: #0B132A;
    }
}




.swiper-container {
    max-width: 1290px;
    margin-left: 150px;
    min-height: 400px;
    position: relative;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-pagination{
    left: 0;
    right: auto;
    max-width: 135px;
    bottom: 20px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 20px;
}

.swiper-pagination-bullet{
    background: #DDE0E4;
    width: 15px;
    height: 15px;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background: #F53838;
}


.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    content: '';
    background-image: url(../img/nav-active.svg);
    background-repeat: no-repeat;
    background-position: 50% 34%;
    width: 61px;
    height: 60px;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after{
    content: '';
    background-image: url(../img/nav-active.svg);
    background-repeat: no-repeat;
    background-position: 50% 34%;
    width: 61px;
    height: 60px;
    transform: rotate(-180deg);
}

.swiper-button-next, .swiper-button-prev{
    width: auto;
    height: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 20px;
    top: auto;
    bottom: 20px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: auto;
    right: 0;
    margin-right: 100px;
    top: auto;
    bottom: 20px;
}


// footer


.footer{
    background: #F8F8F8;
    position: relative;
    min-height: 563px;
    &__box{
        position: absolute;
        top: -117px; 
        left: 50%;
        transform: translateX(-50%);
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        width: 1140px;
        box-shadow: 0px 0px 60px 0px #0d102515;
        &-inner{
            padding: 59px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title{
            font-weight: 500;
            font-size: 35px;
            line-height: 45px;
            color: #0B132A;
            max-width: 371px;
            margin-bottom: 20px;
        }
        &-descr{
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
        }
        &-btn{
            &-link{
                font-weight: bold;
                font-size: 16px;
                line-height: 25px;
                color: #FFFFFF;
                padding: 17.5px 65px;
                background: #F53838;
                border-radius: 10px;
                box-shadow: 0px 30px 60px 0px rgba(245, 56, 56, 0.35);;
                transition: all .2s linear;
                &:hover{
                    box-shadow: 0px 30px 100px 0px rgba(245, 56, 56, 0.877);;
                }
            }
        }
    }
    &__lists{
        display: flex;
        & div + div{
            margin-left: 126px;
        }
    }
    &__inner{
        padding-top: 183px;
        display: flex;
        justify-content: space-between;
    }
    &__descr{
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 340px;
    }
    &__privacy{
        font-size: 16px;
        line-height: 30px;
        color: #AFB5C0;
    }
    &__list{
        &-item > li{
            margin-top: 10px;
        }
        &-link{
            font-size: 16px;
            line-height: 30px;
            color: #4F5665;
            transition: all .2s linear;
            &:hover{
                color: #000;
            }
        }
        &-title{
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #0B132A;
        }
    }
}


//  ==================================





.bg-menu.show,
.bg-menu2.show{
  display: block;
}

.bg-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(13 , 17 , 23, 0.5);
  backdrop-filter: blur(15px);
  display: none;
  z-index: 10;
  &2{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(13 , 17 , 23, 0.5);
    backdrop-filter: blur(15px);
    display: none;
    z-index: 11;
  }
}


.popup.show{
  transform: scale(1);
  opacity: 1;
  z-index: 20;
}


.popup{
  max-width: 400px;
  min-height: 600px;
  display: block;
  padding: 32px;
  border-radius: 25px;
  background: #fff;
  margin: 0 auto;
  z-index: 999;
  position: absolute;
  top: 10%;
  height: auto;
  left: 0;
  right: 0;
  transform: scale(0.5);
  z-index: 1;
  opacity: 0;
  transition: all .2s linear;
  &-login{
      z-index: 21;
  }
  &-register{
      z-index: 30;
  }
}


.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


.burger__sign{
    display: none;
}
